h1
{
    color:#926239;
    text-align: center;
    font-size: 40px;
}

h2
{
    color:#926239;
    text-align: center;
}


.button-container 
{
  text-align: center; 
}



a:link, a:visited 
{

  background-color: #926239;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
  
}
a:hover, a:active {
  background-color: bisque;
}
