* {
  box-sizing: border-box;
}

:root {
  --main-color: #926239;
  --accent-color: bisque;
}

body {
  margin: 0;
  padding: 0;
  color: var(--main-color);
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 10px;
  background-image: url("../img/shell.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 75%;
  text-align: center;
  min-height: 60vh;
}

main {
  text-align: center;
  min-height: 33vh;
}

.footer {
  display: flex;
  min-height: 7vh;
}

.main-content {
  display: block;
  height: 50%;
  color: var(--accent-color);
  line-height: 1.6;
  background-color: var(--main-color);
  padding: 15px;
  margin: 0;
}

.main-content:nth-child(even) {
  background-color: white;
  color: inherit;
}

.footer-blocks {
  padding: 10px;
}

.footer-blocks:nth-child(odd) {
  background-color: var(--main-color);
  color: var(--accent-color);
}

.read-more {
  background-color: var(--main-color);
  color: white;
  padding: 14px 25px;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.read-more:hover {
  background-color: white;
  color: inherit;
}

.read-more:active {
  background-color: lightgray;
}
