h1
{
    color:#926239;
    font-size: 40px;
}

h2
{
    color:#926239;
    
}

a:link, a:visited 
{

  background-color: #926239;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
  
}
a:hover, a:active {
  background-color: bisque;
}

p
{
  color: white;
  border: 5px solid #926239;
  background-color: #926239;
  /* display: inline-block; */
  opacity: 5;
  padding: 10px;
  margin: 20px;
  background-position: center;
  
  

}